.nav {
  min-height: 80px;
  display: flex;
  align-items: center;
  padding: 12px 20px;

  @media screen and (max-width: 960px) {
    justify-content: space-between;
  }
}

.menu {
  display: flex;
  align-items: center;
  margin-left: 32px;
  gap: 32px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 8px;

  a {
    padding: 0 8px;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closeBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.themeToggle {
  border: none;
  background: var(--white);
}

.logo {
  min-width: 160px;
  color: var(--black);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.themeToggle {
}
