.container {
  display: flex;
  flex-direction: column;
  min-height: 165px;
  padding: 32px 24px;
  border-radius: 12px;

  //   :hover {
  //     background-color: var(--lightGrey);
  //   }
}

.titleStyle {
  color: var(--black);
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 24px;
}

.descriptionStyle {
  color: var(--black);
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 12px;
}

.dateStyle {
  color: var(--grey);
  font-size: 14px;
  font-weight: 300;
}
