$transition-duration: 0.3s;

.container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--white);
  z-index: 999;

  &-enter {
    transform: translateX(100%);
  }

  &-enter-active {
    transform: translateX(0);
    transition: transform $transition-duration;
  }

  &-exit {
  }

  &-exit-active {
    transform: translateX(100%);
    transition: transform $transition-duration;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--black);
    padding: 32px 18px;

    .right {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .closeBtn {
      cursor: pointer;
      background: transparent;
      border: none;
    }
  }

  .categoryList {
    display: flex;
    flex-direction: column;
  }
}
